.workspaces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191A23;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.workspaces-header {
    width: 100%;
    margin-bottom: 20px;
}

.titulo-header {
    color: #ffffff;
    padding: 15px;
    font-size: 1.3rem;
}


.lista-entornos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.workspace-item-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f3f3f3; 
    border-radius: 4px; 
}


.crear-workspace-container {
    text-align: center;
    margin-top: 20px;
}

.crear-workspace-container p {
    color: #ffffff;
    padding-bottom: 5px;
}

.btn-crear-nuevo {
    background-color: #b9ff66;
    color: #191A23;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.btn-crear-nuevo:hover {
    background-color: #a5f051;
}